name: Publish to NPMJS and GPR

on:
  push:
    branches:
      - master
jobs:
  publish-to-npm-and-gpr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2
      # Update package version and set up git
      - uses: actions/setup-node@v2
      - name: Update package version and setup git
      - run: |
          git config user.name "Tagspaces"
          git config user.email contact@tagspaces.org
          npm version 1.0.$(date +%s)

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v2
        with:
          node-version: 12
          registry-url: 'https://registry.npmjs.org'
      - run: |
          npm install
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npm config list
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v2
        with:
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@octocat'
      # Publish to GitHub Packages
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
